body {
    background-image: url("https://wallpaperaccess.com/full/2796640.jpg");
    font-family: "Papyrus", fantasy;
}
.center {
    text-align: center;
}
img {
    border: 5px solid;
}
hr{
    height: 3px;
    background-color: black;
}
. {
    cursor: url(https://png.pngtree.com/element_our/20190603/ourmid/pngtree-metal-sword-cartoon-weapon-image_1445214.jpg), auto;
}
